:root{
  --fonts: Montserrat, sans-serif, var('EB Garamond', serif);
  --light-gray: #eaeaea;
  --med-gray: #555;
  --white: #fff;
  --cream-white: #FFF2F1;
  /*  color palette from: https://color.adobe.com/Colliding-Power-color-theme-7210405/ */
  --dune: #363432;
  --blumine: #196774;
  --pewter: #90A19D;
  --dark-blue: #2c374c;
  --background: #776472,
  --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray); 
  --small-shadow: -0.25rem 0.25rem 0.5rem var(--med-gray);
  --filter-shadow: drop-shadow(-0.5rem 0.5rem 0.5rem var(--med-gray));
}

/* ----- BODY STYLES ----- *//* Center website */
.main {
  background-color: #2c374c;
  max-width: 1000px;
  margin: auto;
  position: relative;
  background-size: cover;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body{
  margin: 0px auto;
  font-family: Montserrat, sans-serif;
  font-family: var('EB Garamond', serif);
  color: #230903;
  color: #363432;
  line-height: 1.35;
  box-sizing: border-box;
  text-align: justify, row, relative, center;
}
section {
  min-height: 20vh;
  padding: 80px;

}
.container {
  position: relative;
  background-position: center;
}
/* ======================================
    HERO SECTION
======================================*/
#hero-section {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url(img/redEscapeKey.jpg);
  position: relative;
  background-position: center;
  padding: clamp(5px, 45vh, 50px) 0.3;
}
#hero-img {
  background-image: url(img/BayBricks.jpg);
  margin:clamp(10px, 10vh, 100px) auto 0 auto;
	border-radius:50%;
	background-position: center;
	background-size: contain;
    height:clamp(300px, 85vh, 250px);
    width:clamp(275px, 85vh, 100px);
	border:3px, #212529, solid;
}
.transbox {
	margin: 18px;
	background-color: #FFF2F1;
	border: 1px solid #2c374c;
	opacity: 0.6;
}
#name-display {
  margin: .5%;
  color: #2c374c;
  text-align: relative center;
	text-transform: none;
}
#tagline {
  margin: .5%;
  font-weight: bold;
  color: #afafaf;
  font-family: Montserrat, sans-serif;
  text-transform: none;
}
/* ======================================
          NAVBAR SECTION
======================================*/
.navbar {
  position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
    -webkit-tap-highlight-color: #776472;
}
.navbar-toggler-icon {
  color: #FFF2F1 !important;
}
.navbar img {
  border-radius: 25%;
  color: #90A19D;
}
/* ======================================
    CONTACT SECTION 
======================================*/
#contact {
  padding: clamp(5px, 45vh, 50px) 0.3;
  font-size: 2em;
 
}
h3{
  padding: 0.5rem;
  margin-bottom: 0;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}
h2 {
	margin-bottom: 50px;
	color: var(--white);
  color: #afafaf;
	font-weight: bold;
	font-size: 34px;
	font-family: 'EB Garamond', serif;
	text-transform: uppercase;
    margin: 34px auto 34px auto;
    border: 0;
    height: 60px;/*80px*/
    width: 80%;
    background-image: 
      linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(175, 175, 175, .35), 
        rgba(0, 0, 0, 0));
} 
hr, h1 {
	color: #afafaf;
  word-break: break-all;
	font-weight: bold;
	font-size: 44px;
	font-family: 'EB Garamond', serif;
  text-align: relative center;
	text-transform: uppercase;
    margin: 34px auto 34px auto;
    border: 0;
    height: 80px;/*2px*/
    width: 100%;
    background-image: 
      linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(175, 175, 175, .35), 
        rgba(0, 0, 0, 0));
}        
.p {
	/*margin: 5%;*/
  width: 5vw;
	font-weight:lighter;
	font-size: 14px;
	font-family: Montserrat, sans-serif;
  letter-spacing: .9px;
  line-height: 1.5;
  max-width: 75ch;
  padding: 0.5rem 0;
  margin: 0 auto;
  text-align: row, relative, center;
}

a {
  display: block;
  padding: 1rem;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  border-radius: 0.25rem;
}
img {
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
<<<<<<< HEAD
  box-sizing: border-box;
    color: #230903;
    object-fit: cover;
    vertical-align: middle;

  }
=======
  max-block-size: 200px;
  max-width: 200px;
}
>>>>>>> 925492209f2ae4472cbdeff79fc195ec2cea543b
/* ======================================
Responsive Image gallery Style rules 
/* Center website */
#gallery .content {
  background-color: white;
  padding: 3px;
}
<<<<<<< HEAD
#gallery h2, h4, p {
	grid-column: 1/-1;
}
#gallery h3{
  padding: 1rem;
  border-radius: 0.25rem, 0.25rem, 0, 0;
  background-color: var(--dune);
  margin-bottom: 0;
}
.gallery p {
  padding: 1rem;
  border-radius: 0, 0, 0.25rem, 0.25rem;
  text-decoration: none;
}
.gallery a{
  width: fit-content;
  text-decoration: none;
  margin: 0 auto;
  border-radius: 0;  
}
.gallery img{
  object-fit: cover;
  border-image-width: cover;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: none;
  background-size: contain;
}
#gallery > .row {
  margin: 10px -16px;
}
/* Add padding BETWEEN each column */
#gallery .row, .row > .column {
  padding: 8px;
}
/* Create three equal columns that floats next to each other */
#gallery .column {
=======
.gallery .row {
  margin: 10px -16px;
}
/* Add padding BETWEEN each column */
.gallery.row > .column {
  padding: 8px;
}
/* Create three equal columns that floats next to each other */
.gallery > .column {
>>>>>>> 925492209f2ae4472cbdeff79fc195ec2cea543b
  float: left;
  width: 33.33%;
  margin: auto;
  display: none; /* Hide all elements by default */
  
}
<<<<<<< HEAD
#gallery {
  padding: clamp(150px, 10vh, 250px) 0;
  column-span: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: .4px;
}
#gallery-section {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dune);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 0rem;
  margin: 0 0 0 1rem;
  background-size: contain;
}

=======
/* Clear floats after rows */ 
.gallery > .row:after {
  content: "";
  display: table;
  clear: both;
}
/* Content */
.gallery > .content, .img {
  background-color: white;
  padding: 10px;
  image-rendering:100%;
  width: 200px;
  display: block;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
}
/* The "show" class is added to the filtered elements */
.gallery > .show {
  display: block;
}
.gallery > .btn {
  border: none;
  outline: none;
  padding: 12px, 16px;
  background-color: white;
  cursor: pointer;
}
.gallery > .btn:hover {
  background-color: #ddd;
}
.gallery .btn.active {
  background-color: #666;
  color: white;
}
>>>>>>> 925492209f2ae4472cbdeff79fc195ec2cea543b
/* ======================================
        SKILLS SECTION  
======================================*/
#skills {
	padding: clamp(150px, 10vh, 250px) 0;
}
.skills-container col {
  margin: auto;
}
.flip-container-skills {
	flex: auto; 
	gap: 300px;
	height: 300px;
}
.skills img {
	object-fit: cover;
	vertical-align: middle;
	height: 10em;
  width: 5vw;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
/* @keyframes fade {
  from {opacity: 1}
  to {opacity: .4}
}
/* On hover*/
@media (hover:hover){ }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:#C1A3A3;
  } */
  /* Box sizing pseudo elements  ***/
  img ::after, ::before {
    box-sizing: border-box;
    color: #230903;
    min-height: 50px;
    min-width: 50px;
  }
  .btn, .button {
    border: none;
    outline: none;
    padding: 12px 16px;
    cursor: pointer;
  }
  /* .btn:hover {
    background-color: #ddd;
  } */
  .btn.active {
    background-color: #666;
    color: white;
  } 
  .button, .btn:hover::before{
    min-height: 50px;
    width: 50px;
    color:#230903;
  }
  .button, .btn:hover::after {
    color: #717171;
    filter:brightness(75%);
  }
  .bi:hover::before {
    min-height: 50px;
    width: 50px;
    color:#C1A3A3;
  }
  .bi:hover::after {
    color: #717171;
    filter: brightness(75%);
  }
  #meet-me, #gallery {
    background-color: #776472;
    color: #EAEAEA;
  }
  #carousel, #skills, #contact {
      background-color: #2c374c;
      color: #FFF2F1;
  }
  #navbar, #footer{
    background: #fafafa;
    color: #2c374c;
    
    margin: 0;
    z-index: 2;
      -webkit-text-size-adjust: 100%;
<<<<<<< HEAD
      -webkit-box-shadow: 0 8px 6px -3px; rgb:(0,0,0,.3);
      -moz-box-shadow: 0 8px 6px -6px rgb (0,0,0,.3);
      box-shadow: 0 8px 6px -6px rgb (0,0,0,.3);
  }
  /* min-height: 100px; */
=======
      -webkit-box-shadow: 0 8px 6px -3px; RGB:(0,0,0,.3);
      -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
      box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
  }
>>>>>>> 925492209f2ae4472cbdeff79fc195ec2cea543b
