:root{
  --fonts: Montserrat, sans-serif, var('EB Garamond', serif);
  --light-gray: #eaeaea;
  --med-gray: #555;
  --white: #fff;
  /*  color palette from: https://color.adobe.com/Colliding-Power-color-theme-7210405/ */
  --dune: #363432;
  --blumine: #196774;
  --pewter: #90A19D;
  --dark-blue: #2c374c;
  --background: #776472,
  --box-shadow: -0.5rem 0.5rem 1rem var(--med-gray); 
  --small-shadow: -0.25rem 0.25rem 0.5rem var(--med-gray);
  --filter-shadow: drop-shadow(-0.5rem 0.5rem 0.5rem var(--med-gray));
}

/* ----- BODY STYLES ----- */
body{
  margin: 0px auto;
  font-family: Montserrat, sans-serif;
  font-family: var('EB Garamond', serif);
  color: #230903;
  color: #363432;
  line-height: 1.35;
  box-sizing: border-box;
  text-align: justify, row, relative, center;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section {
  min-height: 20vh;
  padding: 75px;
  container: fluid;
}
/* ======================================
    HERO SECTION
======================================*/
#hero-section {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), 
    url(img/redEscapeKey.jpg);
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: clamp(5px, 45vh, 50px) 0.3;
  color:#2c374c;
}
#hero-img {
  background-image: url(img/BayBricks.jpg);
  margin:clamp(10px, 10vh, 100px) auto 0 auto;
	border-radius:50%;
	background-position: center;
	background-size: contain;
    height:clamp(300px, 85vh, 250px);
    width:clamp(275px, 85vh, 100px);
	border:3px, #212529, solid;
}
.transbox {
	margin: 30px;
	background-color: #FFF2F1;
	border: 1px solid #2c374c;
	opacity: 0.8;
}
.transbox p {
  margin: 5%;
  font-size: 24px;
  font-weight: bold;
  color: #2c374c;
  font-family: 'EB Garamond', serif;
}
/* ======================================
          NAVBAR SECTION
======================================*/
.navbar {
  position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;
    -webkit-tap-highlight-color: #776472,transparent;
}
.navbar-toggler-icon {
  color: #fafafa !important;
}
.navbar img {
  border-radius: 25%;
}
/* ======================================
    CONTACT SECTION 
======================================*/
#contact {
  padding: clamp(5px, 45vh, 50px) 0.3;
  font-size: 2em;
  
}

h3{
  padding: 0.5rem;
  margin-bottom: 0;
  font-size: 24px;
  font-family: Montserrat, sans-serif;
}
h2 {
	margin-bottom: 50px;
	color: var(--white);
  color: #afafaf;
	font-weight: bold;
	font-size: 44px;
	font-family: 'EB Garamond', serif;
	text-transform: uppercase;
    margin: 34px auto 34px auto;
    border: 0;
    height: 80px;/*2px*/
    width: 80%;
    background-image: 
      linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(175, 175, 175, .35), 
        rgba(0, 0, 0, 0));
}
.p {
	/*margin: 5%;*/
  width: 5vw;
	font-weight: ;
	font-size: 24px;
	font-family: Montserrat, sans-serif;
  letter-spacing: .9px;
  line-height: 1.5;
  max-width: 75ch;
  padding: 0.5rem 0;
  margin: 0 auto;
  text-align: row, relative, center;
}
hr , h1 {
	color: #afafaf;
	font-weight: bold;
	font-size: 64px;
	font-family: 'EB Garamond', serif;
  text-align: relative center;
	text-transform: uppercase;
    margin: 34px auto 34px auto;
    border: 0;
    height: 80px;/*2px*/
    width: 80%;
    background-image: 
      linear-gradient(to right, 
        rgba(0, 0, 0, 0), 
        rgba(175, 175, 175, .35), 
        rgba(0, 0, 0, 0));
}
a{
  display: block;
  padding: 1rem;
  font-weight: bold;
  color: var(--white);
  text-decoration: none;
  border-radius: 0.25rem;
}
img{
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
}
/* ======================================
Responsive Image gallery Style rules 
  padding-bottom: 1rem;
  max-width: 350px;
  margin: 0 0 0 1rem;
    padding: clamp(150px, 10vh, 250px) 2;
======================================*/
#gallery h2{
	grid-column: 1/-1;
}
#gallery h3{
  padding: 2rem;
  border-radius: 0.25rem 0.25rem 0 0;
  background-color: var(--dune);
  margin-bottom: 0;
}
#gallery p {
  padding: 1rem;
  background-color: var(--dune);
  border-radius: 0 0 0.25rem 0.25rem;
  }
#gallery a{
  width: fit-content;
  text-decoration: none;
  margin: 0.5rem auto;
  border-radius: 0.25rem;
  background-color: var(--dune);
  }
#gallery img{
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  box-shadow: none;
}
#gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}
#gallery-section {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dune);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  padding-bottom: 1rem;
  margin: 0 0 0 1rem;
}
/* ======================================
        SKILLS SECTION  
======================================*/
#skills-section {
	padding: clamp(150px, 10vh, 250px) 0;
}
.skills-container col {
  margin: auto;
}
.flip-container-skills {
	flex: auto; 
	gap: 300px;
	height: 300px;
}
.skills-section img {
	object-fit: cover;
	vertical-align: middle;
	height: 10em;
  width: 5vw;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: 1}
  to {opacity: .4}
}
/* On hover
@media (hover:hover){ }*/
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:#C1A3A3;
  }
  /* Box sizing pseudo elements  ***/
  img ::after, ::before {
    box-sizing: border-box;
    color: #230903;
    min-height: 50px;
    width: 50px;
  }
  .button:hover::before{
    min-height: 50px;
    width: 50px;
    color:#230903;
  }
  .button:hover::after {
    color: #717171;
    filter:brightness(75%);
  }
  .bi:hover::before {
    min-height: 50px;
    width: 50px;
    color:#C1A3A3;
  }
  .bi:hover::after {
    color: #717171;
    filter: brightness(75%);
  }
  #meet-me, #gallery {
    background-color: #776472;
    color: #EAEAEA;
  }
  #carousel-section, #skills-section, #contact {
      background-color: #2c374c;
      color: #FFF2F1;
  }
  #navbar, #footer{
    background: #fafafa;
    color: #2c374c;
    min-height: 100px;
    margin: 0;
    z-index: 2;
      -webkit-text-size-adjust: 100%;
      -webkit-box-shadow: 0 8px 6px -3px; rgba:(0,0,0,.3);
      -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
      box-shadow: 0 8px 6px -6px rgba(0,0,0,.3);
  }